<%= render @user %>
<div class="grid-container">
  <h3 class="user_bio"><%= @user.bio %> </h3>
</div>
<%= render @posts%>
<span class="see-more">  
<%= link_to "See More Posts", user_posts_path(@user) %>
</span> 