
<h1>Roles</h1>

<div id="roles">
  <% @roles.each do |role| %>
    <%= render role %>
    <span>
    </span>
    <%= button_to "Destroy this role", role, method: :delete %>
  <% end %>
</div>

<%= link_to "New role", new_role_path %>
