/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto; 
  margin: 24px;
}

.grid-photo {
  grid-column: 1;
  margin-right: 4%;
  height: 95px;
  border: solid 5px #ccc;
}

.grid-photo img {
  width: 100%;
  height: 100%;
}

.grid-item {
  grid-column: 2/6;
  height: 95px;
  border: solid 5px #ccc;
  text-transform: capitalize;
}

.grid-item h1 {
  padding-left: 2%;
  margin: 0;
}

.post-counter {
  font-weight: 600;
  display: flex;
  justify-content: end;
  padding: 0 2% 2% 0;
  font-size: 20px;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #000;
}

.user_bio {
  grid-column: 1/6;
  height: auto;
  border: solid 5px #ccc;
  font-size: 20px;
  padding: 12px;
}

.post-display {
  grid-column: 1/6;
  height: auto;
  border: solid 5px #ccc;
  font-size: 20px;
}

.counter-span {
  font-weight: 600;
  display: flex;
  justify-content: end;
  padding: 0 3%;
}

.counter-span strong {
  padding: 0 1%;
  font-size: 20px;
}

.one-post h1 {
  text-transform: capitalize;
}

.post-text {
  padding: 2%;
  border: solid 5px #ccc;
  margin: 1% 0;
  font-size: 20px;
}

.see-more {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bolder;
}